.AssetAgreementView{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    width: 100%;
    padding: 1rem 2rem 2rem 2rem;
    .asset-table{
        height: max-content;
    }
}

.selected-asset-list{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
.selected-asset{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;
    p{
        margin: .5rem 0;
    }
}